Flask==0.12.2
flask-restplus==0.10.1
Flask-SQLAlchemy==2.2
Flask-Migrate==2.1.0
Flask-Script==2.0.5
psycopg2==2.7.3
passlib==1.7.1
bcrypt==3.1.4
awesome-slugify==1.6.5
kubernetes==3.0.0
boto3==1.4.7
PyGithub==1.35
requests==2.18.4
git+git://github.com/nicois/redis-py.git@df6395284674e1acacc68630f86d37dd4f03b5f6
uwsgi==2.0.15
rq==0.9.2